doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='static/index.css')
    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        
            header.mdl-layout__header
                .mdl-layout__header-row
                    span.mdl-layout-title Todo

            main.mdl-layout__content
                .page-content
                    .mdl-grid
                        .mdl-cell.mdl-cell--4-coll
                        .mdl-cell.mdl-cell--4-coll
                            #root
                        .mdl-cell.mdl-cell--4-coll
        script(src='static/index.js')